
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body, nav, .dropdown-menu{
    background-color: $back ;
    // color: #b47775;

}
nav{
    border-bottom:1px solid #b47775 ;
}
nav a{
   color: $text ;
}
nav a:hover{
    color: $text ;
 }
#register,#login{
    
    color:$text;
}

.card-header{
    background-color:$back ;
    border-bottom:1px solid $borderbottom ;
}
#register button{
    background-color: $back; 
    color: #3B2218 ; 
    border: 1px solid #745d54
}
#login button{
    background-color: #CFAEA0; 
    color: #3B2218 ; 
    border: 1px solid #745d54
}
.reset button{
    background-color: #CFAEA0; 
    color: #3B2218 ; 
    border: 1px solid #745d54
}
.reset button:hover{
    background-color: white; 
    color: #3B2218 ; 
    border: 1px solid #745d54
}

.reset {

    color: $text;
    text-decoration: none;
}
#login a{
    color: $text;
    text-decoration: none;
}


#welcome{

    .top-right {
        width: 100%;
        padding: 1vw 0;
        position: absolute;
        top: 0;
        border-bottom:1px solid $borderbottom ;
        font-weight: 200;
    }

    .content {
        margin-top: 30vh;
        text-align: center;
    }
    .links  a {
        color: $text ;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
        float: right;
    }

    .content{
        color:  $text ;
       font-weight: 400;
       font-size: 1.5vw;

    }
    .content a{
        color: $text ;
        font-weight: 600;
        text-decoration: none;
    }
    .title{
        font-size: 4vw
    }

    @media only screen and (max-width: 1024px) {
        .title{
            font-size: 6vw
        }
        .content{
            font-size: 2.5vw;

        }
    }
    @media only screen and (max-width: 550px) {
        .title{
            font-size: 8vw
        }
        .content{
            font-size: 3.5vw;

        }
    }
}


//form


.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: $text;
    background-clip: padding-box;
    border: 1px solid $bordercolor;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none;
    }
  }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  .form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
  }
  
  .form-control:focus {
    color: $text;
    font-weight: 400;
    background-color: #fff;
    border-color: $bordercolor;
    outline: 0;
    box-shadow: 0 0 0 0.2rem $back;
  }
  
  .form-control::-moz-placeholder {
    color:  $text;
    font-weight: 400;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control:disabled,
  .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
  
  input[type=date].form-control,
  input[type=time].form-control,
  input[type=datetime-local].form-control,
  input[type=month].form-control {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
  }
  
  .form-control-file,
  .form-control-range {
    display: block;
    width: 100%;
  }

  .btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem white;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
  }
  
  .form-check-input[disabled] ~ .form-check-label,
  .form-check-input:disabled ~ .form-check-label {
    color: $text;
  }

